<div cdkDropListGroup>
  <ng-container *ngFor="let t of tasks">
    <div class="example-container">
      <h2>{{t.content}}</h2>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" (click)="confirmDelete(t.id)"
              data-bs-target="#delete">
        Xóa danh sách
      </button>
      <ng-container *ngFor="let item of todos">
        <div *ngIf="item.task?.id === t.id"
             [cdkDropListData]="todos"
             cdkDropList
             #todoList="cdkDropList"
             class="example-list"
             [cdkDropListConnectedTo]="[todoList]"
             (cdkDropListDropped)="drop($event)">
          <div class="example-box"
               cdkDrag>
            <table>
              <tr>
                <td style="cursor: pointer" (click)="showFormUpdate(item.id, t.id)">Tên nhiệm vu : {{item.content}}</td>
              </tr>
              <tr>
                <td style="cursor: pointer" (click)="showFormUpdate(item.id, t.id)">Loại nhiệm vụ : {{item.category?.name}}</td>
              </tr>
              <tr *ngIf="isShowUpdate && item.id === todo.id">
                <td><form class="form-control" #formUpdateTodo='ngForm' (ngSubmit)="updateTodo(formUpdateTodo)">
                  <div>
                    <label for="content-update">Tên nhiệm vụ : </label>
                    <input class="form-control" type="text" id="content-update" name="content" [ngModel]="todo.content"
                           placeholder="Nhập vào tên nhiệm vụ">
                  </div>
                  <div>
                    Loại nhiệm vụ :
                    <select class="form-control" name="category" [(ngModel)]="todoForm.category">
                      <ng-container *ngFor="let c of categories">
                        <option class="form-control" [selected]="todo.category?.id === c.id" [value]="c.id">{{c.name}}</option>
                      </ng-container>
                    </select>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="changeShowForm()">Hủy</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            (click)="confirmDeleteTodo(item.id)" data-bs-target="#delete-todo">
                      Xóa
                    </button>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                  </div>
                </form></td>
              </tr>
            </table>
          </div>
        </div>
      </ng-container>
      <div><a class="btn btn-primary" (click)="showFormCreate(t.id)">Thêm nhiệm vụ</a>
        <div *ngIf="isShowForm && t.id == task.id">
          <form class="form-control" #formCreateTodo='ngForm' (ngSubmit)="addNewTodo(formCreateTodo)">
            <div>
              <label for="content">Tên nhiệm vụ : </label>
              <input class="form-control" type="text" id="content" name="content" ngModel
                     placeholder="Nhập vào tên nhiệm vụ">
            </div>
            <div>
              Loại nhiệm vụ :
              <select class="form-control" name="category" [(ngModel)]="todoForm.category">
                <option [value]="undefined" disabled>Chọn loại nhiệm vụ</option>
                <ng-container *ngFor="let c of categories">
                  <option class="form-control" [value]="c.id">{{c.name}}</option>
                </ng-container>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="showFormCreate(task.id)">Hủy</button>
              <button type="submit" class="btn btn-primary">Thêm nhiệm vụ</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- Modal delete -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa danh sách</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa danh sách này chứ?
        <br>
        Nếu đồng ý thì tất cả các nhiệm vụ trong danh sách cũng sẽ bị xóa
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" (click)="deleteTask(task.id)" data-bs-dismiss="modal">Xác nhận
          xóa
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete todo-->
<div class="modal fade" id="delete-todo" tabindex="-1" aria-labelledby="exampleModalLabelDeleteTodo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelDeleteTodo">Xóa nhiệm vụ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa nhiệm vụ này chứ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" (click)="deleteTodo(todo.id)" data-bs-dismiss="modal">Xác nhận
          xóa
        </button>
      </div>
    </div>
  </div>
</div>
